.listWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.listWrapper > li {
	display: flex;
	align-content: center;
}

.listWrapper > li > input {
	flex: 0 0 5%;
	max-height: 1em;
}
.listWrapper > li > label {
	flex: 0 0 50%;
	padding-left: 10px;
}
.listWrapper > li > button {
	line-height: 2em;
	max-height: 2rem;
}
@media (max-width: 768px) {
	.listWrapper > li > button {
		margin-left: auto;
	}
}
